<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT articlePage ANY>
<!ATTLIST articlePage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT PersonalisationGroup ANY>
<!ATTLIST PersonalisationGroup id ID #REQUIRED>
<!ELEMENT PersonalisationGroupsFolder ANY>
<!ATTLIST PersonalisationGroupsFolder id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT textPageVariation ANY>
<!ATTLIST textPageVariation id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1048" key="925a7b84-8a39-44bf-adaf-66bf79fc884d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-14T17:30:45" updateDate="2016-05-14T17:30:45" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="1046" nodeTypeAlias="homePage">
    <strapline><![CDATA[Demonstration of Personalisation Groups]]></strapline>
    <siteName><![CDATA[Codegarden 2016]]></siteName>
    <textPage id="1051" key="613735e4-c6b9-4698-90f8-a9f0a0356c91" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2016-05-14T17:38:41" updateDate="2016-05-14T23:15:18" nodeName="About Us" urlName="about-us" path="-1,1048,1051" isDoc="" nodeType="1050" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="1049" nodeTypeAlias="textPage">
      <heading><![CDATA[About Us]]></heading>
      <subHeading><![CDATA[A message for everyone]]></subHeading>
      <standfirst><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna est, molestie in placerat sed, feugiat non ex. Aliquam cursus velit et placerat mollis. Cras sollicitudin lacinia massa id posuere. Suspendisse potenti. Suspendisse eget tempor metus. Vivamus quis venenatis nisi. Donec non justo quis elit faucibus consequat vel a nibh.]]></standfirst>
      <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna est, molestie in placerat sed, feugiat non ex. Aliquam cursus velit et placerat mollis. Cras sollicitudin lacinia massa id posuere. Suspendisse potenti. Suspendisse eget tempor metus. Vivamus quis venenatis nisi. Donec non justo quis elit faucibus consequat vel a nibh.</p>
<p>Sed condimentum magna sit amet lacus ullamcorper, vel maximus massa consectetur. Fusce vehicula quis ante a semper. Cras eget urna leo. Phasellus ac mi tempor dui interdum pretium id eget tellus. Nullam fermentum blandit orci, ac faucibus tortor. Sed quis leo viverra, egestas urna ac, ultricies augue. Nunc porta sem ut diam cursus, id suscipit felis ultrices. Aliquam eleifend, risus vel suscipit tempor, tellus mi pharetra tortor, id egestas mauris ex id ligula. Morbi varius ante condimentum imperdiet commodo. Nulla bibendum libero at varius tempor. In hac habitasse platea dictumst. In id varius purus. Suspendisse mollis est ornare ipsum cursus tempor. Fusce viverra, leo sed rhoncus euismod, turpis nisi tincidunt magna, eu facilisis odio nisi at neque. Sed consequat sit amet purus eget congue. Ut accumsan nibh ac interdum placerat.</p>
<p>Nunc suscipit odio ut tristique hendrerit. Donec gravida, leo eu pharetra consectetur, nunc metus porta leo, ac vulputate est mi ut urna. Nulla varius ipsum in finibus scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nibh eros, vel porta felis sagittis at. Ut ac ultricies erat. Proin sed volutpat odio. Duis sem lacus, rutrum in blandit id, lacinia at dui. Etiam fermentum ante quis odio ullamcorper venenatis. Sed vel diam facilisis, hendrerit sem eu, maximus elit. In condimentum nulla sed dignissim iaculis. Maecenas sed diam malesuada, egestas metus sit amet, ornare sapien. Cras a iaculis mi. Quisque facilisis, mauris sed congue sollicitudin, diam nisl consectetur neque, non venenatis nulla urna eget velit. Nunc vel dui pretium, malesuada magna id, interdum nisl.</p>]]></bodyText>
      <variations><![CDATA[[{"name":"Special Message For Campaign Visitors","ncContentTypeAlias":"textPageVariation","subHeading":"Special Message For Campaign Visitors","standfirst":"Welcome!","personalisationGroups":"1063"},{"name":"Special Message For Codegarden Visitors","ncContentTypeAlias":"textPageVariation","subHeading":"Special Message For Codegarden Visitors","standfirst":"This one came from Nested Content.","personalisationGroups":"1062"}]]]></variations>
      <textPageVariation id="1065" key="826bc2c0-b6b3-4e10-85fd-1bebfa783c98" parentID="1051" level="3" creatorID="0" sortOrder="0" createDate="2016-05-14T21:02:10" updateDate="2016-05-14T21:02:19" nodeName="Codegarden Variation" urlName="codegarden-variation" path="-1,1048,1051,1065" isDoc="" nodeType="1064" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="1049" nodeTypeAlias="textPageVariation">
        <subHeading><![CDATA[Special Message For When I'm At Codegarden]]></subHeading>
        <standfirst><![CDATA[See you when I get back!]]></standfirst>
        <personalisationGroups><![CDATA[1062]]></personalisationGroups>
      </textPageVariation>
      <textPageVariation id="1066" key="ac9526f4-4c42-44b9-9373-4ed8a71870f3" parentID="1051" level="3" creatorID="0" sortOrder="1" createDate="2016-05-14T21:03:19" updateDate="2016-05-14T21:03:19" nodeName="Campaign Variation" urlName="campaign-variation" path="-1,1048,1051,1066" isDoc="" nodeType="1064" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="1049" nodeTypeAlias="textPageVariation">
        <subHeading><![CDATA[Special Message For Campaign Visitors]]></subHeading>
        <standfirst><![CDATA[Welcome to my website.]]></standfirst>
        <personalisationGroups><![CDATA[1063]]></personalisationGroups>
      </textPageVariation>
    </textPage>
    <articlePage id="1053" key="0e5f4df1-7772-4d7e-b132-74e354efac78" parentID="1048" level="2" creatorID="0" sortOrder="1" createDate="2016-05-14T20:25:44" updateDate="2016-05-14T20:29:34" nodeName="Item One" urlName="item-one" path="-1,1048,1053" isDoc="" nodeType="1052" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="1056" nodeTypeAlias="articlePage">
      <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare sed libero eu commodo. Donec faucibus malesuada risus, at suscipit leo luctus ac. Cras lacus leo, porttitor a est nec, aliquet posuere tellus. Nam eu dolor eget elit tincidunt tempor. Aenean pulvinar vulputate nunc eget viverra. Suspendisse molestie, lacus a ullamcorper consequat, felis metus porttitor est, ut porta odio erat interdum urna. In bibendum semper finibus. Ut quis metus purus. Maecenas tellus ex, placerat vitae interdum non, vulputate ac massa. Duis leo eros, rhoncus sit amet tempus vel, mollis id eros. Aliquam et congue urna. Cras vitae orci augue.</p>
<p>Proin elementum risus magna. Mauris non nulla velit. Phasellus euismod suscipit feugiat. Sed commodo tellus at felis aliquet pulvinar. Nunc sed erat vel nisl dignissim tristique eget nec massa. Nulla dictum et justo eget consequat. Quisque quis eros nibh. Vestibulum in lectus ut ligula posuere semper.</p>
<p>Mauris lobortis, justo laoreet molestie tincidunt, metus purus tempus mauris, sed tristique nibh tellus non velit. Aenean id dapibus ipsum. Sed vel vehicula est. Morbi et fermentum odio. Maecenas nulla sapien, molestie ullamcorper justo sit amet, ultricies pulvinar dolor. Integer vel leo condimentum, suscipit nisi eu, lacinia lorem. Quisque aliquet quis est non ultricies.</p>]]></bodyText>
      <standfirst><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare sed libero eu commodo. Donec faucibus malesuada risus, at suscipit leo luctus ac. Cras lacus leo, porttitor a est nec, aliquet posuere tellus. Nam eu dolor eget elit tincidunt tempor. Aenean pulvinar vulputate nunc eget viverra. Suspendisse molestie.]]></standfirst>
      <heading><![CDATA[Item One]]></heading>
      <subHeading><![CDATA[Lorem ipsum dolor sit amet]]></subHeading>
    </articlePage>
    <articlePage id="1054" key="c7d8447c-6c6c-4dbf-8b13-ce0178ad11f9" parentID="1048" level="2" creatorID="0" sortOrder="2" createDate="2016-05-14T20:27:10" updateDate="2016-05-14T20:53:01" nodeName="Item Two" urlName="item-two" path="-1,1048,1054" isDoc="" nodeType="1052" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="1056" nodeTypeAlias="articlePage">
      <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare sed libero eu commodo. Donec faucibus malesuada risus, at suscipit leo luctus ac. Cras lacus leo, porttitor a est nec, aliquet posuere tellus. Nam eu dolor eget elit tincidunt tempor. Aenean pulvinar vulputate nunc eget viverra. Suspendisse molestie, lacus a ullamcorper consequat, felis metus porttitor est, ut porta odio erat interdum urna. In bibendum semper finibus. Ut quis metus purus. Maecenas tellus ex, placerat vitae interdum non, vulputate ac massa. Duis leo eros, rhoncus sit amet tempus vel, mollis id eros. Aliquam et congue urna. Cras vitae orci augue.</p>
<p>Proin elementum risus magna. Mauris non nulla velit. Phasellus euismod suscipit feugiat. Sed commodo tellus at felis aliquet pulvinar. Nunc sed erat vel nisl dignissim tristique eget nec massa. Nulla dictum et justo eget consequat. Quisque quis eros nibh. Vestibulum in lectus ut ligula posuere semper.</p>
<p>Mauris lobortis, justo laoreet molestie tincidunt, metus purus tempus mauris, sed tristique nibh tellus non velit. Aenean id dapibus ipsum. Sed vel vehicula est. Morbi et fermentum odio. Maecenas nulla sapien, molestie ullamcorper justo sit amet, ultricies pulvinar dolor. Integer vel leo condimentum, suscipit nisi eu, lacinia lorem. Quisque aliquet quis est non ultricies.</p>]]></bodyText>
      <standfirst><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare sed libero eu commodo. Donec faucibus malesuada risus, at suscipit leo luctus ac. Cras lacus leo, porttitor a est nec, aliquet posuere tellus. Nam eu dolor eget elit tincidunt tempor. Aenean pulvinar vulputate nunc eget viverra. Suspendisse molestie.]]></standfirst>
      <heading><![CDATA[Item Two]]></heading>
      <subHeading><![CDATA[Lorem ipsum dolor sit amet]]></subHeading>
      <personalisationGroups><![CDATA[1062]]></personalisationGroups>
    </articlePage>
    <articlePage id="1055" key="70253dd0-cb90-4c1e-8a94-df87ea6c9c84" parentID="1048" level="2" creatorID="0" sortOrder="3" createDate="2016-05-14T20:27:43" updateDate="2016-05-14T20:29:46" nodeName="Item Three" urlName="item-three" path="-1,1048,1055" isDoc="" nodeType="1052" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="1056" nodeTypeAlias="articlePage">
      <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare sed libero eu commodo. Donec faucibus malesuada risus, at suscipit leo luctus ac. Cras lacus leo, porttitor a est nec, aliquet posuere tellus. Nam eu dolor eget elit tincidunt tempor. Aenean pulvinar vulputate nunc eget viverra. Suspendisse molestie, lacus a ullamcorper consequat, felis metus porttitor est, ut porta odio erat interdum urna. In bibendum semper finibus. Ut quis metus purus. Maecenas tellus ex, placerat vitae interdum non, vulputate ac massa. Duis leo eros, rhoncus sit amet tempus vel, mollis id eros. Aliquam et congue urna. Cras vitae orci augue.</p>
<p>Proin elementum risus magna. Mauris non nulla velit. Phasellus euismod suscipit feugiat. Sed commodo tellus at felis aliquet pulvinar. Nunc sed erat vel nisl dignissim tristique eget nec massa. Nulla dictum et justo eget consequat. Quisque quis eros nibh. Vestibulum in lectus ut ligula posuere semper.</p>
<p>Mauris lobortis, justo laoreet molestie tincidunt, metus purus tempus mauris, sed tristique nibh tellus non velit. Aenean id dapibus ipsum. Sed vel vehicula est. Morbi et fermentum odio. Maecenas nulla sapien, molestie ullamcorper justo sit amet, ultricies pulvinar dolor. Integer vel leo condimentum, suscipit nisi eu, lacinia lorem. Quisque aliquet quis est non ultricies.</p>]]></bodyText>
      <standfirst><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare sed libero eu commodo. Donec faucibus malesuada risus, at suscipit leo luctus ac. Cras lacus leo, porttitor a est nec, aliquet posuere tellus. Nam eu dolor eget elit tincidunt tempor. Aenean pulvinar vulputate nunc eget viverra. Suspendisse molestie.]]></standfirst>
      <heading><![CDATA[Item Three]]></heading>
      <subHeading><![CDATA[Lorem ipsum dolor sit amet]]></subHeading>
    </articlePage>
  </homePage>
  <PersonalisationGroupsFolder id="1061" key="f65444d1-e529-4e9f-b9e1-30b27517c39a" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-05-14T20:47:43" updateDate="2016-05-14T20:47:43" nodeName="Personalisation Groups" urlName="personalisation-groups" path="-1,1061" isDoc="" nodeType="1060" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="0" nodeTypeAlias="PersonalisationGroupsFolder">
    <PersonalisationGroup id="1062" key="3f4d7d8d-3974-4d3c-bee8-c3338027d936" parentID="1061" level="2" creatorID="0" sortOrder="0" createDate="2016-05-14T20:48:10" updateDate="2016-05-14T23:12:45" nodeName="Codegarden Visitor" urlName="codegarden-visitor" path="-1,1061,1062" isDoc="" nodeType="1059" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="0" nodeTypeAlias="PersonalisationGroup">
      <definition><![CDATA[{
  "match": "All",
  "details": [
    {
      "alias": "dayOfWeek",
      "definition": "[1,2,3,4,7]"
    },
    {
      "alias": "timeOfDay",
      "definition": "[{ \"from\": \"900\", \"to\": \"2340\" }]"
    }
  ]
}]]></definition>
    </PersonalisationGroup>
    <PersonalisationGroup id="1063" key="52ba3abf-f4c3-4afe-9b93-e46fde3fb590" parentID="1061" level="2" creatorID="0" sortOrder="1" createDate="2016-05-14T20:49:33" updateDate="2016-05-14T20:49:33" nodeName="Campaign Visitor" urlName="campaign-visitor" path="-1,1061,1063" isDoc="" nodeType="1059" creatorName="Andy Butland" writerName="Andy Butland" writerID="0" template="0" nodeTypeAlias="PersonalisationGroup">
      <definition><![CDATA[{
  "match": "All",
  "details": [
    {
      "alias": "cookie",
      "definition": "{ \"key\": \"Campaign\", \"match\": \"MatchesValue\", \"value\": \"CG16\" }"
    }
  ]
}]]></definition>
    </PersonalisationGroup>
  </PersonalisationGroupsFolder>
</root>