@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;

<header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>@Model.Heading</h1>
                    <hr class="small">
                    <span class="subheading">@Model.SubHeading</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p><strong>@Model.Standfirst</strong></p>
            @Html.Raw(Model.BodyText)
        </div>
    </div>
</div>